
body {
    font-family: sans-serif;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f1f1f1;
  
}
h3 {
    color: green;
}
span {
    color: blue;
    font-weight: bold;
}